.image17Icon {
  position: relative;
  width: 878px;
  height: 498px;
  flex-shrink: 0;
  object-fit: cover;
}
.technomelacertificate {
  position: relative;
  width: 879px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
@media screen and (max-width: 1200px) {
  .image17Icon {
    max-width: 65%;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .image17Icon {
    max-width: 65%;
  }
}
@media screen and (max-width: 420px) {
  .image17Icon {
    max-width: 75%;
  }
}
